{% extends 'tycole/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block bodyblock %}
    <title>Contact Us</title>
    <div class="text-center container fs-1">
        <h4 id="description">Contact Us</h4>
    </div>
    <div class="container">
        <p class="m-5">We're a broad-scope printing company offering a wide range of printing solutions for a large variety printed marketing materials, office stationery and forms. <br> We work with you, our customer, to achieve the best possible print solutions to meet your vision and your budget.​<br>Offering print and so much more.</p>
        <div>
            <p class="m-3 fs-4">
                <a href="mailto:info@tycole.co.za" id="icon"><i class="fa fa-envelope" aria-hidden="true"></i></a> info@tycole.co.za   
            </p>
            <p class="m-3 fs-4">
                <i class="fa fa-phone-square" aria-hidden="true" id="icon"></i> 011 432 1822
            </p>
            <p class="m-3 fs-4">
                <a href="https://www.facebook.com/TycoleMedia/" id="icon"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> Find Us on Facebook
            </p>
        </div>
    </div>
  <div id="contactForm">
    <form action="" method="POST">
        {% csrf_token %}
        {% if form %}
            <div class="container">
                <div class="row">
                    <div class="form-group col-auto  m-5">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-auto m-5">
                        {{ form.email|as_crispy_field }}
                        <small class="text-muted">We Won't Share Your Email With Anyone</small>
                    </div>
                    <div class="form-group col-auto m-5">
                        {{ form.number|as_crispy_field }}
                        <small class="text-muted">We Won't Share Your Number With Anyone.</small>
                    </div>
                </div>
                <div>
                    <div class="form-group col-auto m-5">
                        {{ form.message|as_crispy_field }}
                    </div>
                </div>
                <div class="text-center m-5">
                    <button type="submit" class="btn btn-outline-primary">Send</button>
                </div>
            </div>
            </div>
        {% endif %}
    </form>
  </div>
{% endblock bodyblock %}

