{% extends 'tycole/base.html' %}
{% load static %}
<title>Home</title>

{% block bodyblock %}
<div>
  <img src="{% static 'tycole/digitalprintinghome.jpg' %}" alt="" class="w-100 home-page-image">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-5 text-center p-5 mt-2">
      <h2 class="index-heading">Promotional Products <br> Gifts, Clothing & more</h2>
      <p class="text-start">We will source and provide you with the perfect gifting solution for all your corporate occasions, and to improve the potential impact of the product,we will also brand it! <br> Not only do we provide affordable promotional gifts that are brilliant for marketing, but we are also a below the line marketing company. <br> We make it our business to understand your company needs and will deliver the perfect solution quickly and efficiently.</p>
      <h2 class="mt-3 index-heading">Printing <br> Litho, Digtal & more</h2>
      <p class="text-start">We offer a wide variety of printing solutions, for all your corporate needs. <br> A committed approach to print excellence allows us to offer you the best solution to meet your budget and requirement’s. <br> Using the modern digital print solutions to the traditional printing processes, thus allowing you to to benefit from the best technology solutions. <br> We deliver the results you’re looking for.</p>
      <h2 class="index-heading">Social Management <br> and Web</h2>
      <p class="text-start">This is handled by our sister company Business Impression. <br> They will create and manage your online presence in keeping with your corporate identity, with more Social Media Advertising channels becoming available, you have a whole new world of opportunities for your business!<br> They take the process from beginning to end to ensure that all the elements combine optimally.</p>
    </div>
    <div class="col-7 mt-2">
      <img src="{% static 'tycole/home-page-image1.jpg' %}" alt="" class="w-100">
    </div>
  </div>
</div>
<div class="container-fluid row mt-2 text-center m-1">
  <div class="card col-lg-3 p-2">
    <img src="{% static 'tycole/home-page-image-2.jpg' %}" alt="" class="card-img-top">
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, placeat!</p>
    </div>
  </div>
  <div class="card col-lg-3 p-2">
    <img src="{% static 'tycole/home-page-image-6.jpg' %}" alt="" class="card-img-top">
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, placeat!</p>
    </div>
  </div>
  <div class="card col-lg-3 p-2">
    <img src="{% static 'tycole/home-page-image-4.jpg' %}" alt="" class="card-img-top">
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, placeat!</p>
    </div>
  </div>
  <div class="card col-lg-3 p-2">
    <img src="{% static 'tycole/home-page-image-5.jpg' %}" alt="" class="card-img-top">
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, placeat!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1 class="text-center mt-2 client-favorites-index">Client Favorites</h1>
    <div class="col-lg-4 text-center">
      <p class="client-favorite-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></p>
      <button class="btn btn-primary btn-base mt-1 button-index"><a href="#">Click Me</a></button>
    </div>
    <div class="col-lg-4 text-center">
      <p class="client-favorite-icon"><i class="fa fa-certificate" aria-hidden="true"></i></p>
      <button class="btn btn-primary btn-base mt-1 button-index"><a href="#">Click Me</a></button>
    </div>
    <div class="col-lg-4 text-center">
      <p class="client-favorite-icon"><i class="fa fa-id-card-o" aria-hidden="true"></i></p>
      <button class="btn btn-primary btn-base mt-1 button-index"><a href="#">Click Me</a></button>
    </div>
  </div>
</div>
<div class="container-fluid my-5">
  <div class="text-center m-4 our-clients-index">
    <h1>Our Clients</h1>
  </div>
  <div class="row">
    <div class="col-2">
      <img src="{% static 'tycole/logo_1.png' %}" alt="" class="w-100 our-clients-index-image">
    </div>
    <div class="col-2">
      <img src="{% static 'tycole/logo_2.png' %}" alt="" class="w-100 our-clients-index-image">
    </div>
    <div class="col-2">
      <img src="{% static 'tycole/logo_3.png' %}" alt="" class="w-100 our-clients-index-image">
    </div>
    <div class="col-2">
      <img src="{% static 'tycole/logo_4.png' %}" alt="" class="w-100 our-clients-index-image">
    </div>
    <div class="col-2">
      <img src="{% static 'tycole/logo_5.png' %}" alt="" class="w-100 our-clients-index-image">
    </div>
    <div class="col-2">
      <img src="{% static 'tycole/logo_6.png' %}" alt="" class="w-100 our-clients-index-image">
    </div>
  </div>
</div>
{% endblock bodyblock %}