{% extends 'tycole/base.html' %}
{% load static %}

{% block bodyblock %}
<title>Home</title>
<div id="homePageFull">
    <div class="container">
        <div>
            <h2 class="text-center fs-1 mt-1" id="description">How We Can Help You!</h2>
        </div>
        <div class="container mb-3">
            <div class="row">
                <div class="card col-sm my-1 mx-auto pt-2">
                    <img src="{% static 'tycole/pexels-natasha-fernandez-811572.jpg' %}" alt="" class="card-img-top pt-1" width="50%">
                    <div class="card-body text-center">
                        <h5 class="card-title">Promotional Printing</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis facere ratione impedit quod aspernatur corrupti quidem dolorem necessitatibus, maxime corporis!</p>
                        <button class="btn btn-outline-primary"><a href="{% url 'promotional' %}">Promotional</a></button>
                    </div>
                </div>
                <div class="card col-sm my-1 mx-auto pt-2">
                    <img src="{% static 'tycole/webs.jpg' %}" alt="" class="card-img-top pt-1" width="50%" height="60%">
                    <div class="card-body text-center">
                        <h5 class="card-title">Website Design</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis facere ratione impedit quod aspernatur corrupti quidem dolorem necessitatibus, maxime corporis!</p>
                        <button class="btn btn-outline-primary"><a href="#">Website Design</a></button>
                    </div>
                </div>
                <div class="card col-sm my-1 mx-auto pt-2">
                    <img src="{% static 'tycole/pexels-rachel-claire-4857782.jpg' %}" alt="" class="card-img-top pt-1" width="50%">
                    <div class="card-body text-center">
                        <h5 class="card-title">Shop Vinyl</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis facere ratione impedit quod aspernatur corrupti quidem dolorem necessitatibus, maxime corporis!</p>
                        <button class="btn btn-outline-primary"><a href="{% url 'printing' %}">Printing</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <h2 class="text-center fs-1" id="description">Our Clients!</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'tycole/logo_9.png' %}" alt="" width="100%">
            </div>
            <div class="col-sm">
                <img src="{% static 'tycole/logo_2.png' %}" alt="" width="100%">
            </div>
            <div class="col-sm">
                <img src="{% static 'tycole/logo_3.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-2">
            <div class="col-sm">
                <img src="{% static 'tycole/logo_4.png' %}" alt="" width="100%">
            </div>
            <div class="col-sm">
                <img src="{% static 'tycole/logo_5.png' %}" alt="" width="100%">
            </div>
            <div class="col-sm">
                <img src="{% static 'tycole/logo_6.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-2">
            <div class="col-sm">
                <img src="{% static 'tycole/logo_7.png' %}" alt="" width="100%">
            </div>
            <div class="col-sm">
                <img src="{% static 'tycole/logo_8.png' %}" alt="" width="100%">
            </div>
            <div class="col-sm">
                <img src="{% static 'tycole/logo_1.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}