{% extends 'tycole/base.html' %}
{% load static %}

{% block bodyblock %}
<title>Printing</title>
<div class="container">
    <div class="text-center fs-1" id="description">
        <h4>Digital Printing</h4>
    </div>
    <div class="text-center mt-lg-3 px-lg-5">
        <p>The many benefits for digital printing are cost-effective short runs, fast turnarounds, the ability to personalize, reduced costs and so on. One of the key differences between digital and litho printing is how the ink reacts with the media. With offset, ink is absorbed into the paper and with digital, dry ink rests on top of the paper.  Offset requires large quantities to be printed whilst digital can print as little as one, however don't be fooled the break-even point can be reached very soon depending on quantities. Size of the paper and finished product plays an important role in deciding how we print the job, be it digital or offset. In addition with technology improvments we can now control the digital and offset quality and colour is no longer such a big issue weather we print one job digital and the other offset.</p>
    </div>
   <div id="imageAnimations">
    <div class="row">
        <div class="column p-2">
            <img src="{% static 'tycole/pexels-luciann-photography-3566226.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-scott-webb-1029597.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-rodnae-productions-7551779.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-ryutaro-tsukata-5745045.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-artem-beliaikin-1036857.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-rodnae-productions-8341861.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-monicore-134065.jpg' %}" alt="">
        </div>
        <div class="column p-2">
            <img src="{% static 'tycole/pexels-tobi-3353290.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-алекке-блажин-8140352.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-rodnae-productions-7551779.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-tim-mossholder-953162.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-pixabay-236433.jpg' %}" alt="">
        </div>
        <div class="column p-2">
            <img src="{% static 'tycole/pexels-rachel-claire-4857782.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-erik-mclean-4592256.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-artem-beliaikin-929245.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-pixabay-326569.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-cottonbro-6565756.jpg' %}" alt="">
            <img src="{% static 'tycole/pexels-jacqueline-smith-788662.jpg' %}" alt="">
        </div>
   </div>
    </div>
</div>
{% endblock bodyblock %}