{% extends 'tycole/base.html' %}
{% load static %}


{% block bodyblock %}
<title>Promotional</title>
<div class="container">
    <div class="text-center fs-1" id="description">
        <h4>Promotional Printing</h4>
    </div>
    <div class="text-center mt-lg-3 px-lg-5">
        <p>Our services include the printing of brochures, booklets, catalogues, and much more, from Start to finish, we strive to fulfill your needs every step of the way. In this way, we ensure that your ideas come to life. We also offer the following services: <br>Collating, drilling, binding, die-cutting, folding, stitching, UV coating and varnishing. </p>
    </div>
    <div class="row">
        <div class="col-sm text-center">
            <ul>
                <li>All corporate stationary</li>
                <li>Continuous stationery</li>
                <li>Catalogues</li>
            </ul>
        </div>
        <div class="col-sm text-center">
            <ul>
                <li>Magazines</li>
                <li>Flyers</li>
                <li>NCR books</li>
            </ul>
        </div>
        <div class="col-sm text-center">
            <ul>
                <li>Folders</li>
                <li>Calendars</li>
                <li>Note pads</li>
            </ul>
        </div>
    </div>
    <div id="imageAnimations">
        <div class="row">
            <div class="column p-2">
                <img src="{% static 'tycole/pexels-cottonbro-6648405.jpg' %}" alt="">
                <img src="{% static 'tycole/pexels-rodnae-productions-7580848.jpg' %}" alt="">
                <img src="{% static 'tycole/pexels-rodnae-productions-7763918.jpg' %}" alt="">
                <img src="{% static 'tycole/pexels-rodnae-productions-7648305.jpg' %}" alt="">
            </div>
            <div class="column p-2">
                <img src="{% static 'tycole/pexels-inyong-nation-7407835.jpg' %}" alt="">
                <img src="{% static 'tycole/pexels-rodnae-productions-7763914.jpg' %}" alt="">
                <img src="{% static 'tycole/pexels-natasha-fernandez-811572.jpg' %}" alt="">
            </div>
            <div class="column p-2">
                <img src="{% static 'tycole/pexels-bich-tran-636243.jpg' %}" alt="">
                <img src="{% static 'tycole/pexels-miesha-maiden-535087.jpg' %}" alt="">
                <img src="{% static 'tycole/pexels-olya-kobruseva-5408818.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}