:root {
    --transparent: #00000090;
    --dimGrey: #696969;
    --tycoleColor: rgb(2, 131, 214);
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Old Standard TT', serif;
}

.navbar {
    width: 100%;
    position: fixed;
    background-color: var(--transparent) !important;
}

#navbarLinks a {
    font-size: large;
    color: white;
    text-decoration: underline;
    text-underline-offset: 50%;
    text-decoration-thickness: 20%;
    text-decoration-color: var(--tycoleColor);
}

#navbarLinks a:hover {
    color: white;
    text-decoration-color: white;
    font-size: larger;
}

.footer {
    background-color: var(--dimGrey);
    color: white;
}

.footer a, footer tr {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: var(--tycoleColor);
}

.index-heading {
    color: var(--dimGrey);
}

.our-clients-index {
    color: var(--dimGrey);
}

.client-favorites-index {
    color: var(--dimGrey);
}

.icon {
    margin-right: 2%;
    font-size: larger;
}

.footer-contact ul li {
    text-decoration: none;
}

.client-favorite-icon i {
    font-size: 1000%;
    color: var(--dimGrey);
    text-decoration: none;
}

.button-index a {
    color: white;
    text-decoration: none;
    background-color: var(--tycoleColor) !important;
}

.btn-base {
    background-color: var(--tycoleColor) !important;
    border: var(--tycoleColor) !important;
}