h1, h2, h3, h4 {
    font-family: 'Palanquin', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

#navBarLinks {
    color: black;
    text-decoration: none;
    font-family: 'Palanquin', sans-serif;
}

body {
    background-color: aliceblue;
}

#footerListItems a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
